body {
    background-color: var(--background-color);
    margin: 0;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 25rem;
    max-width: 150rem;
}